@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
    --background: #d2d4d1;
    --color: #591e2a;
    --link: #96797e;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #591e2a;
        --color: #d2d4d1;
        --link: #96797e;
    }
}

::selection {
    background: var(--color);
    color: var(--background);
}

body {
    margin: 0;
    background: var(--background);
    color: var(--color);
}

.link {
    transition: color 250ms ease;
}

.link:hover {
    color: var(--link);
}