.product {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding-inline: 4vw;
    margin-bottom: 15vh;
}

.title {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1rem;
}

.name {
    font-size: max(76px, 5vw);
    font-weight: 600;
    letter-spacing: -0.045em;
    margin: 0;
}

.optional {
    font-size: max(40px, 2.5vw);
    font-weight: 600;
    letter-spacing: -0.045em;
    margin-block: 0;
}

.separator {
    margin-inline: 1vw;
}

.description {
    margin-top: 3vh;
    border-top: 2px solid var(--color);
    padding-top: 1.25rem;
    font-size: max(14px, 1.7vw);
}